{% extends "layout.html" %}
{% block body %}
<div class="wrapper" id="app">
  <header>
    <div class="formset">
      <form id="generate" method="POST" action="/generate">
        <div class="fieldset">
          <label class="field_input" for="length">塩基長　　　：<input name="length" id="length" value="100" type="number" step="1" min="0" max="100000000"></label>
          <label class="field_input" for="iteration">配列本数　　：<input name="iteration" id="number" value="1" type="number" step="1" min="0" max="100000"></label>
          <label class="field_input" for="locate">変異導入箇所：<input name="locate" id="locate" value="1" type="number" step="1" min="0" max="100000000"></label>
          <label class="field_input" for="base">導入変異　　：<select name="base" id="base">
            <option value="1">A挿入</option>
            <option value="2">G挿入</option>
            <option value="3">C挿入</option>
            <option value="4">T挿入</option>
            <option value="5">削除</option>
          </select></label>
        </div>
        <div class="field_btn"><input type="submit" value="送信"></div>
      </form>
    </div>
    <a href="/">戻る</a>
  </header>
  <main class="vue">
    <div class="graph" style="display: flex;">
      <div id="graph_origin">
      </div>
      <div id="graph_mutate">
      </div>
    </div>
    <ul class="tabs">
      <li class="nav-item global"
        :id="icon.id"
        :class="{ active: activePageName === icon.text}"
        v-for="icon in icons"
        v-bind:key="icon.id + icon.text"
        v-bind:data-icon-text="icon.text"
        v-on:click.stop="navClick($event)">
        [[ icon.text ]]
      </li>
    </ul>
    <div class="contents" v-if="activePageName == 'graph'">
      <div id="graph_origin">
      </div>
      <div id="graph_mutate">
      </div>
    </div>
    <div class="contents" v-if="activePageName == 'align'">
      <div id="table_origin">
        <h4>origin</h4>
        {{ table_o }}
      </div>
      <div id="table_mutate">
        <h4>mutate</h4>
        {{ table_m }}
      </div>
    </div>
    <div class="contents" v-else-if="activePageName == 'read'">
      <div id="read_origin">
        <h4>origin</h4>
        {{ read_o }}
      </div>
      <div id="read_mutate">
        <h4>mutate</h4>
        {{ read_m }}
      </div>
    </div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script type="text/javascript">
  function drawGraph(obj) {
      var id = "graph_" + obj;
      var idx = obj.selectedIndex;
      var value = obj.options[idx].value;
      var plotdata = document.getElementById(id);
      $.get("/plot/" + value, function(data) {
          plotdata.src = "data:image/png:base64," + data;
      });
  };
  $(document).ready(function() {
      //initialize components
      var target_o = "origin";
      var target_m = "mutate";
      drawGraph(target_o);
      drawGraph(target_m);
  });
</script>
{% endblock %}